name: Deploy Syncnox Backend

on:
  push:
    branches: [main]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Add SSH Key
        uses: webfactory/ssh-agent@v0.7.0
        with:
          ssh-private-key: ${{ secrets.EC2_KEY }}

      - name: Deploy to EC2
        run: |
          ssh -o StrictHostKeyChecking=no ${{ secrets.EC2_USER }}@${{ secrets.EC2_HOST }} "
            cd /home/ubuntu/syncnox-be || git clone https://github.com/syncnox-labs/syncnox-be.git /home/ubuntu/syncnox-be;
            bash /home/ubuntu/syncnox-be/deploy.sh
          "
